.container {
    display: flex; /* or inline-flex */
  }

  .form-row {
      margin: 10px;
  }
  .form-row .lable {
      margin-right: 10px;
  }
 .detail-container {
   text-align: center;
   font-weight: bold;
 }

 .container {
   margin: 50px;
 }